/* .post-border {
  height: 50%;
  width: 33%;
  min-width: 400px;
  margin: 5px auto;
} */
.post-header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-image {
  width: 100%;
}

.post-explanation {
  display: flex;
  align-items:center;
  font-size: .75rem;
}

